In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("../files/winequality-red_miss.csv")

In [10]:
df.head(20)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,NaN,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0
1,7.8,0.880,0.00,NaN,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5.0
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5.0
3,11.2,0.280,NaN,1.9,0.075,17.0,660.0,0.9980,3.16,0.58,9.8,6.0
4,77.4,10.700,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5.0
6,7.9,0.600,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5.0
7,7.3,0.650,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7.0
8,NaN,0.580,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7.0
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,NaN
10,6.7,0.580,0.08,1.8,0.097,15.0,65.0,0.9959,3.28,0.54,9.2,5.0
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5.0
12,5.6,0.615,0.00,1.6,0.089,16.0,59.0,0.9943,3.58,0.52,9.9,NaN
13,7.8,0.610,0.29,1.6,0.114,9.0,29.0,0.9974,3.26,1.56,9.1,5.0
14,8.9,0.620,0.18,3.8,0.176,52.0,145.0,0.9986,3.16,0.88,9.2,5.0
15,8.9,0.620,NaN,3.9,0.170,51.0,148.0,0.9986,3.17,NaN,9.2,5.0
16,NaN,0.280,0.56,1.8,0.092,35.0,103.0,0.9969,3.30,0.75,10.5,7.0
17,8.1,0.560,0.28,1.7,0.368,16.0,56.0,0.9968,3.11,1.28,9.3,5.0
18,7.4,0.590,0.08,4.4,0.086,6.0,29.0,0.9974,3.38,0.50,9.0,4.0
19,7.9,0.320,0.51,1.8,0.341,17.0,56.0,0.9969,3.04,1.08,9.2,6.0

In [26]:
def emptyEntries(row):
    return df.iloc[row].isnull().sum()

In [30]:
cols = [i for i in df]
len(cols)

12

In [31]:
def RowsWithEmptyCount(emptyCount):
    suchRows = 0
    for i in range(len(df)):
        if df.iloc[i].isnull().sum() == emptyCount:
            suchRows+=1
    return suchRows

58

In [29]:
for i in range(len(df)):
    for j in range(12):

SyntaxError: unexpected EOF while parsing (<ipython-input-29-36d851bf29a0>, line 3)

In [35]:
type(df[cols[0]])

False

In [ ]:
df.iloc[1][1]